:root {
  --blue-primary: #030953;
  
  --gray-51: #333333;
  --gray-72: #48484a;
  --gray-128: #808080;
  --gray-229: #e5e5e5;
  --gray-242: #f2f2f2;
  --gray-247: #f7f7f7;

  --alert-primary: #ef3e4a;
}
